*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}




.cvbody{
    background-color: #f8f7f7;
    background-size: cover;
    margin-top: -10px;
}


.divider{
    display: flex;
    margin: 10px;
    justify-content: space-between;    
    margin: 5px;
    padding: 10px;

}

.container1{
    display: block;
    height: fit-content;
    background: white;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
    margin: 14px;

}

.divider1, .container2{
    padding: 10px;

}

.container1{
    width: 440px;
}

.lefthand img{
    display: block;
}

.lefthand, .righthand{
    display: block;
    line-height: 3;

}

.lefthand img{
    height: 30px;
    width: 30px;
    margin: 25px 5px 5px;
}

.righthand{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    color: #757575;
    line-height: 61px;
}


.cvimage{
    width: 440px;
    height: 300px;
    
}

.righthand{
    margin-left: 10px;
}

.aboutme img{
    height: 30px;
    width: 30px;
    margin-right: 10px;
}

.education .flex2 img{
    height: 40px;
    width: 40px;
    margin-right: 10px;
}


.flex2{
    margin: 20px 5px 0px;
    display: flex;
    align-items: center;
}

.flex2 h5{
    font-size: 30px ;
}

.flex2 p{
    font-size: 25px;
}

.aboutme p{
    margin: 20px 5px 5px;
    padding: 10px;
    font-size: 20px;
    color: #757575;
    font-family:Arial, Helvetica, sans-serif;
}

.aboutme{
    display: block;
    height: fit-content;
    background: white;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
    margin: -10px;
    width: 837px;
    padding: 5px;
}

.education, .skill{
    display: block;
    height: fit-content;
    background: white;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
    margin-top: 35px;
    margin-left: -10px;
    width: 837px;
    padding: 5px;
    
}

.margintop img{
    height: 30px;
    width: 30px;
}

.margintop{
    font-size: 15px;
    margin: 10px;
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 0.1px solid #ebe9e9;

}

.smol{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin: 10px;
    font-size: 25px;
    color: #757575;
    padding: 10px;
}

#smol{
    font-size: 10px;
}

.word, .pp, .excel, .chinese, .english, .malay{
    padding: 10px;
    border-bottom: 0.1px solid #ebe9e9;

}


.lightgrey{
    color:#000 !important;
    background-color:#bebebe!important;
    width: 385px;
}

.round{
    border-radius:16px;
}


.contain{
    padding:0.01em 16px;
}

.blue{
    color:#009688 !important;
    background-color:#009688 !important;
    font-size: 20px;
}

